name: svelte-check & build check

on:
  pull_request:
    types: [opened, synchronize, labeled]

permissions:
  contents: read

jobs:
  build:
    # プルリクエストに dependencies ラベルを付けたとき
    # dependencies ラベルがついている状態で、 Push したとき
    if: |
      ((github.event.action == 'labeled') &&
        (github.event.label.name == 'dependencies')) ||
      ((github.event.action == 'synchronize') &&
        contains(github.event.pull_request.labels.*.name, 'dependencies'))

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [latest]

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm ci
        run: npm ci
      - name: svelte-check
        run: npm run validate
      - name: build check
        run: npm run build
        env:
          CI: true
